#  The purpose of this document is to learn how to query and navigate the reference files for information.  When you go to train a model, or develop a signal, these files will be joined with job records, dropping reference materials with no job records.

# Import reference files

1. PIT Ticker
2. PIT Company Reference
3. Scrape Log

In [7]:
import pandas as pd

# Choose a ticker to look at
Ticker = 'AMZN'
Company_name = 'Amazon'

In [8]:
PIT_Ticker = pd.read_csv('../raw-sample/raw_pit_ticker_full.csv.gz')
PIT_Company = pd.read_csv('../raw-sample/raw_pit_company_reference_full.csv.gz')
ScrapeLog = pd.read_csv('../raw-sample/raw_company_scrape_log_full.csv.gz')

# Look up Company ID and other information based on company name

In [9]:
PIT_Company[PIT_Company['company_name'].str.contains(Company_name, case = False)==True]

,company_id,start_date,end_date,company_name,company_url,lei,open_perm_id,naics_code
411,469,2016-02-24,NaN,"Amazon.com, Inc.",http://www.amazon.com,ZXTILKJKG63JELOEG630,4295905494,454110.0
19413,19202,2016-02-24,NaN,Amazon Lab126,http://www.lab126.com,ZXTILKJKG63JELOEG630,4295905494,541715.0
34088,33625,2016-02-24,NaN,"Amazon.com, Inc.",http://amazon.com,ZXTILKJKG63JELOEG630,4295905494,454113.0
41695,41053,2016-11-29,NaN,Amazon,http://www.amazondelivers.jobs,NaN,4296241666,454110.0
58218,58103,2018-11-21,NaN,Amazon Contracted Delivery Service Partner,http://logistics.amazon.com,NaN,NaN,NaN
59639,59981,2019-04-30,NaN,Amazon AWS - Technical,http://aws.amazon.com,NaN,NaN,NaN
59671,60064,2019-05-03,2019-05-07,Amazon Flex,http://flex.amazon.com,NaN,NaN,NaN
59672,60064,2019-05-08,NaN,Amazon Flex,http://flex.amazon.com,NaN,4295905494,454110.0
59673,60065,2019-05-03,2019-05-07,Amazon HVH,http://amazon.force.com,NaN,NaN,NaN
59674,60065,2019-05-08,NaN,Amazon HVH,http://amazon.force.com,NaN,NaN,454110.0
60486,61212,2019-07-12,NaN,Amazon - BOS7,http://www.amazon.com,NaN,NaN,NaN
60574,61335,2019-07-19,NaN,Amazon,http://www.amazon.com,NaN,NaN,NaN

# Look up Company Ids based on Ticker

In [10]:
Company_IDs = PIT_Ticker[PIT_Ticker['company_id'].isin(
    PIT_Ticker[PIT_Ticker['stock_ticker']==Ticker]['company_id'].unique())]['company_id'].unique()
Company_IDs

array([  227,   469,   945,  2868, 21652, 25784, 33164, 33625, 35288,
       35368, 41053, 42767])

# Look for all scrape changes based Company IDs

In [14]:
ScrapeLog[(ScrapeLog['company_id'].isin(Company_IDs)) & (ScrapeLog['scrape_changed']==True)].head(10)

        company_id        date  scrape_run_complete  scrape_changed
158254         227  2012-05-07                 True            True
158258         227  2012-05-14                 True            True
158266         227  2012-05-29                 True            True
158361         227  2013-01-14                 True            True
158560         227  2014-08-13                 True            True
158742         227  2019-04-17                 True            True
158792         227  2019-07-29                 True            True
295589         469  2010-05-17                False            True
295590         469  2010-05-18                False            True
295737         469  2011-08-02                False            True

# Look up company reference file with Company IDs

In [15]:
PIT_Company[PIT_Company['company_id'].isin(Company_IDs)]

,company_id,start_date,end_date,company_name,company_url,lei,open_perm_id,naics_code
217,227,2016-02-24,NaN,ACME Tools,http://www.acmetool.com,NaN,NaN,NaN
411,469,2016-02-24,NaN,"Amazon.com, Inc.",http://www.amazon.com,ZXTILKJKG63JELOEG630,4295905494,454110.0
906,945,2017-06-02,NaN,"Zappos.com, Inc.",http://www.zappos.com,NaN,4296946300,448210.0
2923,2868,2016-02-24,NaN,Whole Foods Market,http://www.wholefoods.com,NaN,4295908472,NaN
21667,21652,2016-02-24,2016-06-28,Justin.TV,http://www.justin.tv,NaN,5042932082,517311.0
21668,21652,2016-06-28,2017-02-12,Twitch,http://www.justin.tv,NaN,5042932082,517311.0
21669,21652,2017-02-13,NaN,Twitch,http://www.twitch.tv,NaN,5042932082,517311.0
25958,25784,2016-02-24,NaN,Kiva Systems,http://www.kivasystems.com,NaN,4297527928,NaN
33622,33164,2016-02-24,NaN,Souq.com,http://www.souq.com,NaN,5050292230,448120.0
34088,33625,2016-02-24,NaN,"Amazon.com, Inc.",http://amazon.com,ZXTILKJKG63JELOEG630,4295905494,454113.0
35841,35288,2016-02-24,NaN,Whole Foods Market,http://www.wholefoodsmarket.com,NaN,4295908472,NaN
35932,35368,2016-02-24,NaN,comiXology,http://www.comixology.com,NaN,NaN,NaN
41695,41053,2016-11-29,NaN,Amazon,http://www.amazondelivers.jobs,NaN,4296241666,454110.0
43448,42767,2017-06-02,NaN,Whole Foods Market,http://www.wholefoodsmarket.com,NaN,NaN,NaN

# Look up all history for companies that have ever had a specified ticker

In [17]:
PIT_Ticker[PIT_Ticker['company_id'].isin(PIT_Ticker[PIT_Ticker['stock_ticker']==Ticker]['company_id'].unique())]

,company_id,start_date,end_date,stock_ticker,stock_exchange_country,stock_exchange_name,primary_flag
442,227,1999-11-09,NaN,AMZN,CL,SGO,False
443,227,1999-11-09,NaN,AMZN,IT,MIL,False
444,227,1999-11-09,NaN,AMZ,DE,ETR,False
445,227,1999-11-09,NaN,0R1O,GB,LON,False
446,227,1999-11-09,NaN,AMZN,CH,SWX,False
447,227,1999-11-09,NaN,AMZN,CO,BOG,False
448,227,1999-11-09,NaN,AMZN,MX,MEX,False
449,227,1999-11-09,NaN,AMZN,PE,LIM,False
450,227,1999-11-09,NaN,AMZN,US,NAS,True
451,227,1999-11-09,NaN,AMZN,AT,WBO,False
1031,469,NaN,NaN,AMZN,CL,SGO,False
1032,469,NaN,NaN,AMZN,IT,MIL,False
1033,469,NaN,NaN,AMZ,DE,ETR,False
1034,469,NaN,NaN,0R1O,GB,LON,False
1035,469,NaN,NaN,AMZN,CH,SWX,False
1036,469,NaN,NaN,AMZN,CO,BOG,False
1037,469,NaN,NaN,AMZN,MX,MEX,False
1038,469,NaN,NaN,AMZN,PE,LIM,False
1039,469,NaN,NaN,AMZN,AT,WBO,False
1040,469,1997-05-15,NaN,AMZN,US,NAS,True
2017,945,2009-07-22,NaN,AMZN,CL,SGO,False
2018,945,2009-07-22,NaN,AMZN,IT,MIL,False
2019,945,2009-07-22,NaN,AMZ,DE,ETR,False
2020,945,2009-07-22,NaN,0R1O,GB,LON,False
2021,945,2009-07-22,NaN,AMZN,CH,SWX,False
2022,945,2009-07-22,NaN,AMZN,CO,BOG,False
2023,945,2009-07-22,NaN,AMZN,MX,MEX,False
2024,945,2009-07-22,NaN,AMZN,PE,LIM,False
2025,945,2009-07-22,NaN,AMZN,US,NAS,True
2026,945,2009-07-22,NaN,AMZN,AT,WBO,False
...,...,...,...,...,...,...,...
39705,35368,2018-04-27,NaN,AMZN,MX,MEX,False
39706,35368,2018-04-27,NaN,AMZN,PE,LIM,False
39707,35368,2018-04-27,NaN,AMZN,US,NAS,True
39708,35368,2018-04-27,NaN,AMZN,AT,WBO,False
45048,41053,NaN,NaN,AMZN,CL,SGO,False
45049,41053,NaN,NaN,AMZN,IT,MIL,False
45050,41053,NaN,NaN,AMZ,DE,ETR,False
45051,41053,NaN,NaN,0R1O,GB,LON,False
45052,41053,NaN,NaN,AMZN,CH,SWX,False
45053,41053,NaN,NaN,AMZN,CO,BOG,False
45054,41053,NaN,NaN,AMZN,MX,MEX,False
45055,41053,NaN,NaN,AMZN,PE,LIM,False
45056,41053,NaN,NaN,AMZN,AT,WBO,False
45057,41053,1997-05-15,NaN,AMZN,US,NAS,True
46869,42767,NaN,2017-08-29,WFM,MX,MEX,False
46870,42767,NaN,2017-08-29,WFM,DE,FRA,False
46871,42767,NaN,2017-08-29,0R04,GB,LON,False
46872,42767,NaN,2017-08-29,WFM,CH,SWX,False
46873,42767,1992-01-23,2011-05-06,WFMI,US,NAS,True
46874,42767,2011-05-06,2017-08-28,WFM,US,NAS,True
46875,42767,2017-08-29,NaN,AMZN,CL,SGO,False
46876,42767,2017-08-29,NaN,AMZN,IT,MIL,False
46877,42767,2017-08-29,NaN,AMZ,DE,ETR,False
46878,42767,2017-08-29,NaN,0R1O,GB,LON,False
46879,42767,2017-08-29,NaN,AMZN,CH,SWX,False
46880,42767,2017-08-29,NaN,AMZN,CO,BOG,False
46881,42767,2017-08-29,NaN,AMZN,MX,MEX,False
46882,42767,2017-08-29,NaN,AMZN,PE,LIM,False
46883,42767,2017-08-29,NaN,AMZN,US,NAS,True
46884,42767,2017-08-29,NaN,AMZN,AT,WBO,False

# Look up Ticker history based on Company ID

In [18]:
company_id = 469

In [19]:
PIT_Ticker[PIT_Ticker['company_id'] == company_id]

,company_id,start_date,end_date,stock_ticker,stock_exchange_country,stock_exchange_name,primary_flag
1031,469,NaN,NaN,AMZN,CL,SGO,False
1032,469,NaN,NaN,AMZN,IT,MIL,False
1033,469,NaN,NaN,AMZ,DE,ETR,False
1034,469,NaN,NaN,0R1O,GB,LON,False
1035,469,NaN,NaN,AMZN,CH,SWX,False
1036,469,NaN,NaN,AMZN,CO,BOG,False
1037,469,NaN,NaN,AMZN,MX,MEX,False
1038,469,NaN,NaN,AMZN,PE,LIM,False
1039,469,NaN,NaN,AMZN,AT,WBO,False
1040,469,1997-05-15,NaN,AMZN,US,NAS,True